{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th colspan="2">Shares</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
        <tbody>
        {% for row in history %}
            <tr>
                <td class="border-0">{{ row.symbol }}</td>
                <td class="border-0" colspan="2">{{ row.shares }}</td>
                <td class="border-0">{{ row.purchase_price | usd}}</td>
                <td class="border-0">{{ row.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock %}